<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#popUpWindow">Open Modal</button>


        <div class="modal fade" id="popUpWindow">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Header -->
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h2 class="modal-title">Log In</h2>
                        <!-- <div class="col-md-12"> -->
                          <%#= image_tag("agriblack"),class: "img-responsive" %>
                          <%= image_tag("agriblack", class: "img-responsive") %>
                        <!-- </div> -->
                        
                    </div>


                    <!-- Body -->
                    <div class="modal-body">
                        <form role="form">
                            <div class="form-group">
                                 <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input type="email" class="form-control" placeholder="Email" />
                            </div>
                            <div class="form-group">
                                 <span class="input-group-addon">
                                 <i class="glyphicon glyphicon-search"> </i>
                                 </span>
                                <input type="password" class="form-control" placeholder="Password" />
                            </div>
                        </form>
                        

                        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                        <div class="form-group">
                        <!-- <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span> -->
                        
                        <!-- <input type="email" class="form-control" placeholder="Email" /> -->
            
                        <%= f.email_field(:email, autofocus: true, class: "form-control",placeholder: "Email") %>
                        </div>

                        <div class="form-group">
                                 <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        
                                <%= f.password_field(:password, autocomplete: "off" ,class: "form-control", placeholder: "Password")%>
                        </div>

                        <div class="field">
                          <%= f.label :password %><br />
                          <%= f.password_field :password, autocomplete: "off" %>
                        </div>

                        <% if devise_mapping.rememberable? -%>
                          <div class="field">
                            <%= f.check_box :remember_me %>
                            <%= f.label :remember_me %>
                          </div>
                        <% end -%>

                        <div class="actions">
                          <%= f.submit "Log in" %>
                        </div>
                      <% end %>
      





                    </div>

                    <!-- Button -->
                    <div class="modal-footer">
                        <button class="btn btn-primary btn-block">Log In</button>
                    </div>

                </div>
            </div>
        </div>

