<p id="notice"><%= notice %></p>

<section id="portfolio" style="padding-bottom:20px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Diary</h2>
                    <hr class="star-primary">
                </div>
            </div>
        </div>
</section>

 <div class="container">
        <div class="row">
            <div class="col-md-12">
               
             
                <%= link_to "PostNew", new_post_path, class: "btn btn-lg btn-danger" %>
               <hr>
            </div>
        </div>

        <div class="row">
        <% @posts.each_with_index do |post, index| %>
        <% if index % 3 == 2 %>
          <div class ="row">
        <% end %>        
            <div class="col-md-4 col-sm-6">
                <div class="panel panel-default">
                      <div class="panel-heading clearfix">
                         
                        
                        <% if post.eat_time.present? %> 
                        <h3 class="panel-title pull-left"><%= post.eat_time.strftime('%Y-%m-%d') %></h3>
                        <% else %>
                        <h3 class="panel-title pull-left"><%= post.created_at.strftime('%Y-%m-%d') %></h3>
                        <% end %>

                        <%= link_to  edit_post_path(post), :class => "btn btn-success pull-right" do %>
                            <i class="fa fa-pencil"> </i>
                        <% end %>
                       
                        </div>
                    <div class="list-group">
                      <% if post.photo.file? %>
                        <%= image_tag(post.photo.url(:medium),class: "setimg img-responsive") %>
                      <% else %>
                        <%= image_tag("default.png",class: "setimg img-responsive")%>
                      <%end %>
                      <div class="list-group-item">
                        <h4 class="list-group-item-heading">
                        <% if post.fruitlist.present?  %>
                          <% fruit_tag = post.fruitlist.split(',') %>
                          <% fruit_tag.each do |f| %>
                            <span class="label label-primary">f</span>
                          <% end %>
                        <% end %>
                       <!--  <span class="label label-primary">香蕉</span>
                        <span class="label label-primary">芭樂</span> -->
                        </h4>
                      </div>
                      <div class="list-group-item">
                        <p class="list-group-item-text"><%= truncate(post.content, :length => 10) %></p>

                      </div>
                    </div>
                    <div class="panel-footer">
                      <div class="col-md-12 text-center">
                        <button class="btn btn-info">
                        <%= link_to "See more", post_path(post), :style=> 'color: white;' %>
            
                        </button>
                      </div>
                    </div>
                </div>
            </div>
            <% if index % 3 == 2 %>
              </div>
            <% end %>
            <% end %>
           <!--  <div class="col-md-4 col-sm-6">
                <div class="panel panel-default">
                      <div class="panel-heading clearfix">
                        <h3 class="panel-title pull-left">2016-06-06 18:02:03</h3>
                          <a class="btn btn-success pull-right" href="#">
                            <i class="fa fa-pencil"></i>
                            Edit
                          </a>
                        </div>
                    <div class="list-group">
                        <img src="http://www.teamstudio.com/Portals/218295/images/istock_000001242290small.jpg" class="setimg img-responsive"/>
                      <div class="list-group-item">
                        <h4 class="list-group-item-heading">
                        <span class="label label-primary">蘋果</span>
                        <span class="label label-primary">香蕉</span>
                        <span class="label label-primary">芭樂</span>
                        </h4>
                      </div>
                      <div class="list-group-item">
                        <p class="list-group-item-text">我吃了好多水果哈哈XDD</p>
                      </div>
                    </div>
                    <div class="panel-footer">
                      <div class="col-md-12 text-center">
                        <button class="btn btn-info">See more</button>
                      </div>
                    </div>
                </div>
            </div> -->

            <!-- <div class="col-md-4 col-sm-6">
                <div class="panel panel-default">
                      <div class="panel-heading clearfix">
                        <h3 class="panel-title pull-left">2016-06-06 18:02:03</h3>
                          <a class="btn btn-success pull-right" href="#">
                            <i class="fa fa-pencil"></i>
                            Edit
                          </a>
                        </div>
                    <div class="list-group">
                        <img src="http://www.teamstudio.com/Portals/218295/images/istock_000001242290small.jpg" class="setimg img-responsive"/>
                      <div class="list-group-item">
                        <h4 class="list-group-item-heading">
                        <span class="label label-primary">蘋果</span>
                        <span class="label label-primary">香蕉</span>
                        <span class="label label-primary">芭樂</span>
                        </h4>
                      </div>
                      <div class="list-group-item">
                        <p class="list-group-item-text">我吃了好多水果哈哈XDD</p>
                      </div>
                    </div>
                    <div class="panel-footer">
                      <div class="col-md-12 text-center">
                        <button class="btn btn-info">See more</button>
                      </div>
                    </div>
                </div>
            </div> -->

        </div>
    </div>

