<!DOCTYPE html>
<html>
	<head>
		<title>Agriblack</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body id="page-top" class="index">

		<!-- navbar -->
		<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="index.html" style="padding-top:15px;">Golly Gee, 果力力！</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="page-scroll">
                        <a href="http://localhost:3000">Diary</a>
                    </li>
                    <li class="page-scroll">
                        <a href="Illustrations.html">Geebook</a>
                    </li>
                    <li class="page-scroll">
                        <a href="search.html">Search</a>
                    </li>
                    <li class="page-scroll">
                        <a href="info.html">Profile</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>
<!-- navbar -->

<%= yield %>
<!-- footer -->
<footer class="text">
	<div class="footer-above">
		<div class="container">
			<div class="row">
				<div class="footer-col col-md-12">
					<h2 id="changefont">資料來源</h2>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row text-center">
				<div class="footer-col col-md-3">
					<h4>
						<a href="http://goo.gl/jkBp1I" id="changefont1" target="_blank">每月盛產農產品產地</a>
					</h4>
				</div>
				<div class="footer-col col-md-3">
					<h4>
						<a href="http://goo.gl/yKtCHu" id="changefont1" target="_blank">農產品產地價格</a>
					</h4>
				</div>
				<div class="footer-col col-md-3">
					<h4>
						<a href="http://goo.gl/mFPC8n" id="changefont1" target="_blank">食物營養指標</a>
					</h4>
				</div>
				<div class="footer-col col-md-3">
					<h4>
						<a href="http://goo.gl/LC9CNd" id="changefont1" target="_blank">USDA</a>
					</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2 col-md-offset-1">
					<%= image_tag('img/person/3.jpg', :class => 'img-circle', :alt => '', :width => '180', :height => '180')%>
					<h2>Coda</h2>
				</div>
				<div class="col-md-2">
					<%= image_tag('img/person/2.jpg', :class => 'img-circle', :alt => '', :width => '180', :height => '180')%>
					<h2>Jack</h2>
				</div>
				<div class="col-md-2">
					<%= image_tag('img/person/1.jpg', :class => 'img-circle', :alt => '', :width => '180', :height => '180')%>
					<h2>Wendy</h2>
				</div>
				<div class="col-md-2">
					<%= image_tag('img/person/4.jpg', :class => 'img-circle', :alt => '', :width => '180', :height => '180')%>
					<h2>Lucy</h2>
				</div>
				<div class="col-md-2">
					<%= image_tag('img/person/5.jpg', :class => 'img-circle', :alt => '', :width => '180', :height => '180')%>
					<h2>Lynn</h2>
				</div>
			</div>
		</div>
		<div class="footer-below">
			<div class="container text-center">
				<div class="row">
					<div class="col-lg-12">
						Copyright &copy; Agriblack 2016
					</div>
				</div>
			</div>
		</div>
	</footer>

</body>
</html>
